
@grid-font_size: 12px;

@color-black-2: fade(#000, 20%);
@color-black-3: fade(#000, 5%);
@color-black-4: fade(#000, 30%);

@color-gray-1: #858585;
@color-gray-2: lighten(@color-gray-1, 20%);
@color-gray-3: lighten(@color-gray-1, 50%);

@color-blue-1: #4f81bd;
@color-blue-2: fade(@color-blue-1, 20%);

.font-size_rem(@px) {
  @fs: @px / @grid-font_size;
  font-size: replace(~"@{fs}", "px", "rem");
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  min-height: 100%;
  font-family: Arial, sans-serif;
  font-size: @grid-font_size;
}

#app {
  //width: 100%;
  //height: 100%;
  //display: flex;
  //justify-content: space-between;
}


.fa {
  .font-size_rem(16px) !important;
  padding: 5px;
}

.block {
  display: flex;
  justify-content: space-between;

  width: 100%;
  height: 100%;

  &__item {
    position: absolute;
    top: 50px;
    z-index: 10;

    width: 300px;
    max-height: ~"calc(100% - 100px)";

    overflow: auto;
    background: #ffffff;
    box-sizing: border-box;
    box-shadow: 0 0 10px @color-black-2;

    &::-webkit-scrollbar {
      width: 7px;
      background: @color-gray-3;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 5px;
      background: @color-gray-2;
    }

    &_left {
      left: 50px;
    }

    &_right {
      right: 50px;
    }

    &-title {
      .font-size_rem(20px);
      padding: 10px;
      border-bottom: solid 1px @color-black-4;
      text-align: center;
    }
    &-empty {
      text-align: center;
      padding: 10px;
    }
    &-footer {
      border-top: solid 1px @color-black-4;
      box-shadow: inset 0 7px 4px -5px @color-black-2;
    }
  }
}

#map {
  height: 100%;
  width: 100%;
}

.button {
  background: @color-blue-1;
  box-shadow: 0 0 3px @color-black-2;
  color: #fff;
  border: none;
  padding: 5px 10px;
  margin: 10px;
}

.list {

  width: 100%;

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px;
    width: 100%;
    box-sizing: border-box;

    &:not(:last-child) {
      border-bottom: solid 1px lightgray;
    }

    &:nth-child(even) {
      background: @color-black-3;
    }

    &:hover {
      background: @color-blue-2;
      //background: lightyellow;
    }

    &-selected {
      background: @color-blue-2;
      box-shadow: inset 5px 0 0 @color-blue-1;
    }

    &:hover &-icon {
      visibility: visible;
    }

    &-title {
      flex-basis: 100%;
      padding: 5px;

      &[contenteditable] {
        background: #fff;
        box-shadow: inset 1px 1px 3px @color-black-2;
        box-sizing: border-box;
        border: solid 1px @color-black-2;
      }
    }
    &-icon {
      cursor: pointer;
      visibility: hidden;
      color: @color-gray-1;
    }
  }

}